.matching-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 14px;
  /* background: var(--panel-2);
  border: 1px solid var(--border); */
  border-radius: var(--radius-lg);
  /* padding: 14px; */
  box-shadow: var(--inner-shadow);
}

.matching-grid__column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-choice,
.item {
  cursor: pointer;
  border-radius: var(--radius-md);
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  color: var(--text);
  transition: var(--transition);
  /* box-shadow: var(--inner-shadow); */
  border: 1px solid var(--border);
  background: var(--panel);
}

/* .task-choice.is-idle,
.item.unselected {
} */

.task-choice.is-idle:hover,
.item.unselected:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.007);
}

.task-choice.is-selected,
.item.selected {
  border: 1px solid rgba(255, 255, 255, 0.13);
  background: rgba(255, 255, 255, 0.08);
  color: var(--text);
}

.task-choice.is-correct,
.item.correct {
  border: 1px solid rgba(6, 255, 6, 0.59);
  background: rgba(6, 255, 6, 0.39);
  color: var(--text);
}

.task-choice.is-wrong,
.item.wrong {
  border: 1px solid rgba(255, 6, 6, 0.59);
  background: rgba(255, 6, 6, 0.39);
  color: var(--text);
}
