.task-answer.task-answer--translation {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-content: start;
  min-height: 90px;
  transition: 100ms ease;
  font-size: 16px;
  color: var(--text);
}

.task-answer-shell.task-answer-shell--translation {
  border-style: dashed;
}
